* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-single-page-container {
  background-color: #4b4b4b;
  height: 100vh;
}
.single-movie-bg-page {
  height: 80vh;
  overflow-y: auto;
}
.single-page-container {
  margin: 0px 150px;
  border-radius: 10px;
  padding: 25px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f5fffa;
  width: 70vw;
}
.single-page-heading {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 35px;
  color: #fff;
  text-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.7),
    -1px -1px 0 rgba(0, 0, 0, 0.7),
    1px -1px 0 rgba(0, 0, 0, 0.7),
    -1px 1px 0 rgba(0, 0, 0, 0.7);
}
.single-page-tagline {
  padding: 0px;
  margin: 0px;
  margin-right: 14px;
  font-size: 20px;
  color: #ffefa6;
}
html {
  scroll-behavior: smooth;
}
.movie-rdt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
}
.imdb {
  color: #ffff00;
  margin: 0px 45px;
  font-size: 20px;
}
.date-time {
  text-align: right;
  font-size: 15px;
}
.rating {
  font-size: 15px;
  text-align: center;
}
.single-movie-image-container {
  display: inline-flex;
  box-shadow: inset 0px 0px 10px #000000;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  margin: auto;
}
.single-movie-carousel {
  height: 400px;
  width: 730px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.single-movie-carousel-track {
  width: 300%;
  display: flex;
  justify-content: center;
  animation: slide-3 5s infinite;
}
@keyframes slide-3 {
  0%,
  25% {
    transform: translatex(0%);
  }
  30%,
  55% {
    transform: translateX(-33.5%);
  }
  60%,
  90% {
    transform: translateX(-66.5%);
  }
  100% {
    transform: translateX(0%);
  }
}
.image {
  height: 400px;
  border-radius: 7px;
  margin: 2px;
}
.genre-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 60vw;
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
}
.genre {
  border: #fff 1px solid;
  color: #ffefa6;
  padding: 7px 16px;
  margin: 0px 10px;
  border-radius: 25px;
}
.overview {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffefa6;
  width: 80%;
}
.overview::first-letter {
  padding-left: 20px;
}
.budget-collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 60vw;
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
}
.official-language {
  list-style-type: none;
  font-family: Roboto;
  color: #ffffff;
}
.language {
  font-size: 15px;
  color: #39f0ed;
}
.bud-coll {
  padding: 0px;
  margin: 0px 10px;
}
.money {
  color: #ffefa6;
  font-weight: bold;
}
.production {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
.production-company-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.production-company {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.company-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: #fff 1px solid;
}
.company-name {
  font-family: Roboto;
  color: #ffffff;
  width: 350px;
  margin-left: 45px;
}
.company-country {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5afaf;
}

.cast-img {
  width: 50px;
  border-radius: 7px;
}
#castAndCrew {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.cast-crew-main-head {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}
.cast-crew-container {
  background-color: #ffffff20;
  height: 2000px;
  overflow: auto;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.crew-headings {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
}
