/* Existing Large Screen Styles */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  background-color: #333333;
  box-shadow: 0px 0px 10px #ffffff;
  position: sticky;
  z-index: 1000;
}
.logo-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-container {
  width: 30vw;
}
.app-title {
  font-family: Roboto;
  color: red;
  text-decoration: none;
  height: 55px;
  filter: drop-shadow(0px 0px 3px #080841);
}
.icon-container {
  display: inline-flex;
  position: relative;
}
.search-icon {
  position: relative;
  font-size: 35px;
  color: #fff;
  font-weight: normal;
}
.play-icon {
  position: absolute;
  color: #ffff00;
  font-size: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-58%, -60%);
}
.icon-container:hover {
  transform: rotate(360deg);
  transition: transform 0.3s ease-in-out;
}
.search-input {
  width: 400px;
  border-radius: 3px;
  border: cornsilk 1px solid;
  height: 30px;
  outline: none;
  background-color: transparent;
  padding: 5px;
  color: #fff;
}
.hide-search-box {
  visibility: hidden;
}
.navbar-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbars {
  color: #ffff00;
  border-radius: 20px;
  background-color: #1b03a3;
  border: #add8e6 1px solid;
  text-decoration: none;
  font-family: Roboto;
  font-size: 17px;
  padding: 5px 35px;
  transition: all 0.3s ease;
}
.navbars:hover {
  color: #ffffff;
  background-color: darkcyan;
  border: #fff 1px solid;
  box-shadow: 0px 0px 10px #fff;
}
.navbars-active {
  color: #1b03a3;
  background-color: #ffffff;
  border: #180734 1px solid;
  box-shadow: 0px 0px 10px #fff;
}

/* Medium Screen Styles (Tablets) */
@media screen and (max-width: 768px) {
  .logo-container {
    flex-direction: column;
    gap: 10px;
  }
  .search-container {
    width: 50vw;
  }
  .search-input {
    width: 100%;
  }
  .navbar-container {
    width: 90%;
  }
  .navbars {
    font-size: 15px;
    padding: 5px 20px;
  }
}

/* Small Screen Styles (Mobile Devices) */
@media screen and (max-width: 480px) {
  .header-container {
    padding: 5px 0px;
  }
  .logo-container {
    gap: 5px;
  }
  .app-title {
    font-size: 24px;
    height: 40px;
    margin-bottom: 20px;
  }
  .search-container {
    width: 80vw;
  }
  .search-input {
    width: 100%;
    height: 25px;
    font-size: 14px;
  }
  .search-icon {
    font-size: 28px;
  }
  .navbar-container {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }
  .navbars {
    font-size: 14px;
    padding: 5px 15px;
  }
}